body {
    background-color: rgb(0,0,0);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cell {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    margin: 4px;
    font-weight: bold;
    transition: linear 0.3s;
}

.cell:hover {
    background-color: rgb(34, 34, 34);
}
.active {
    /* background-color: rgb(32, 32, 32); */
    border-color: rgb(255, 255, 255);
}
#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}