body {
    position: relative;
    background-color: rgb(0,0,0);
    color: white;
    overflow: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    display: flex;
    width: 45%;
    align-items: center; 
    justify-content: space-between; 
    margin: 20px; 
}

.flex-item {
    flex: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.sliding-menu {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.slidedown {
    animation: slidedown 0.5s linear forwards;
}
.slideup {
    animation: slideup 0.5s linear forwards;
}
@keyframes slideup {
    0% {
        visibility: visible;
        opacity: 1;
        top: 0;
    }    
    50% {
        visibility: visible;
        opacity: 0.5;
        top: -50%;
    }
    100% {
        visibility: hidden;
        opacity: 0;
        top: -100%;
    }
}
@keyframes slidedown {
    0% {
        visibility: hidden;
        opacity: 0;
        top: -100%;
    }
    50% {
        visibility: visible;
        opacity: 0.5;
        top: -50%;
    }
    100% {
        visibility: visible;
        opacity: 1;
        top: 0;
    }
}
#myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cell {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    margin: 4px;
    font-weight: bold;
    transition: linear 0.3s;
}
.cell.m-cell {
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 30px;
    font-size: ;
    color: white;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
}
.icon {
    width: 25px;
    height: 25px;
    transition: ease-in-out 0.3s;
}
.icon:hover {
    transform: scale(1.2);
}

.cell:hover {
    background-color: rgb(34, 34, 34);
}
.active {
    /* background-color: rgb(32, 32, 32); */
    border-color: rgb(255, 255, 255);
}
#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#keyboard {
    margin: 10px;
}
.key, .animated-key {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin: 4px;
    font-weight: bold;
    transition: linear 0.3s;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}
.key.pressed {
    transform: scale(0.9);
}
.key-container {
    position: relative;
}
.key:hover {
    background-color: rgb(87, 87, 87);
}
.special-key {
    width: 80px;
    height: 40px;
}
.animated-key {
    top: 0;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    position: absolute;
    animation: keyanimation 0.4s ease-in-out;
    cursor: default;
    pointer-events: none;
}

@keyframes keyanimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    25% {
        opacity: 0.5;
        transform: translateY(-30px);
    }
    50% {
        opacity: 1;
        transform: translateY(-40px);
    }
    75% {
        opacity: 0.5;
        transform: translateY(-50px);
    }
    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}

#replay, .replay, .submit {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(133, 133, 133);
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: linear 0.3s;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.submit {
    border-radius: 4px;
    margin: 6px;
    font-size: 16px;
    background-color: rgb(26, 211, 124);
    border: none;
    color: black;
}

#replay:hover, .replay:hover {
    background-color: rgb(75, 75, 75);
}

.correct, .correct:hover {
    background-color: rgb(75, 122, 3);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(75, 122, 3);
}
.absent, .absent:hover {
    background-color: rgb(126, 126, 126);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(126, 126, 126);
}
.present, .present:hover {
    background-color: rgb(243, 188, 7);
    color: rgb(27, 27, 27);
    border: 2px solid rgb(243, 188, 7);
}
.popup-notification {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    pointer-events: none;
}
.notification-element {
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(155, 65, 65);
    /* width: 100%; */
    text-align: center;
    color: white;
    opacity: 0; /* Start with the element hidden */
    animation: fadeInOut 1.5s ease-in-out;
}
.notification-element.success {
    background-color: rgb(62, 102, 3);
}
@keyframes fadeInOut {
    0% {
        opacity: 0; /* Element is hidden at the start */
        transform: translateY(10px); /* Slide up effect */
    }
    10% {
        opacity: 1; /* Element is fully visible */
        transform: translateY(0); /* Slide into place */
    }
    90% {
        opacity: 1; /* Element stays visible */
        transform: translateY(0); /* No movement */
    }
    100% {
        opacity: 0; /* Element fades out */
        transform: translateY(-10px); /* Slide up effect as it disappears */
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    #keyboard {
        margin: 5px;
    }
    .key, .animated-key {
        width: 33px;
        height: 45px;
        font-size: 14px;
        margin: 2px;
    }
    .special-key {
        width: 50px;
        height: 45px;
    }
    .cell {
        width: 45px;
        height: 45px;
        font-size: 18px;
    }
}
@media screen and (max-width: 360px) {
    .key, .animated-key {
        width: 32px;
        height: 45px;
        font-size: 14px;
        margin: 1px;
    }
    .special-key {
        width: 50px;
        height: 45px;
    }
}
@media (pointer: coarse) {
    .key:hover {
        background-color: rgb(34, 34, 34);
    }
    .present:hover {
        background-color: rgb(243, 188, 7);
    }
    .absent:hover {
        background-color: rgb(126, 126, 126);
    }
    .correct:hover {
        background-color: rgb(75, 122, 3);
    }
}